* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display {
  border: 1px solid black;
  height: 100px;
  width: 380px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin: auto; */
  font-size: 50px;
  padding-right: 15px;
  background-color: black;
  color: #ffe0ff;
  border-radius: 1rem;
}

.calculator {
  width: 430px;
  height: 650px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #ff69b4;
  box-shadow: pink 0px 5px 15px;
  border-radius: 1rem;
}

.controls {
  height: 450px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.controls div {
  border: 1px solid black;
  height: 80px;
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  user-select: none;
  background-color: #ffe0ff;
  border-radius: 50%;
}

.controls div:hover {
  cursor: default;
  background-color: #ffa8d9;
  border: 2px solid black;
}

.screen {
  display: flex;
  flex-direction: column;
}

#equal {
  flex: 0 0 180px;
  border-radius: 2em;
}
